In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('dataset.csv')
df_info = pd.read_csv('info.csv', index_col='LoanStatNew')

In [3]:
df_info['Description']

LoanStatNew
loan_amnt               The listed amount of the loan applied for by t...
term                    The number of payments on the loan. Values are...
int_rate                                        Interest Rate on the loan
installment             The monthly payment owed by the borrower if th...
grade                                              LC assigned loan grade
sub_grade                                       LC assigned loan subgrade
emp_title               The job title supplied by the Borrower when ap...
emp_length              Employment length in years. Possible values ar...
home_ownership          The home ownership status provided by the borr...
annual_inc              The self-reported annual income provided by th...
verification_status     Indicates if income was verified by LC, not ve...
issue_d                               The month which the loan was funded
loan_status                                    Current status of the loan
purpose                 A category provided by the borrower for the lo...
title                             The loan title provided by the borrower
zip_code                The first 3 numbers of the zip code provided b...
addr_state              The state provided by the borrower in the loan...
dti                     A ratio calculated using the borrower’s total ...
earliest_cr_line        The month the borrower's earliest reported cre...
open_acc                The number of open credit lines in the borrowe...
pub_rec                               Number of derogatory public records
revol_bal                                  Total credit revolving balance
revol_util              Revolving line utilization rate, or the amount...
total_acc               The total number of credit lines currently in ...
initial_list_status     The initial listing status of the loan. Possib...
application_type        Indicates whether the loan is an individual ap...
mort_acc                                     Number of mortgage accounts.
pub_rec_bankruptcies                 Number of public record bankruptcies
Name: Description, dtype: object

In [4]:
def feat_info(col_name):
    print("Description: ", df_info.loc[col_name]['Description'])
    print("Type: ", type(df[col_name][0]))

In [5]:
feat_info('loan_amnt')

Description:  The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
Type:  <class 'numpy.float64'>

In [6]:
df.head()

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36 months,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000.0,...,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\nMendozaberg, OK 22690"
1,8000.0,36 months,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000.0,...,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\nLoganmouth, SD 05113"
2,15600.0,36 months,10.49,506.97,B,B3,Statistician,< 1 year,RENT,43057.0,...,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,"87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113"
3,7200.0,36 months,6.49,220.65,A,A2,Client Advocate,6 years,RENT,54000.0,...,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,"823 Reid Ford\nDelacruzside, MA 00813"
4,24375.0,60 months,17.27,609.33,C,C5,Destiny Management Inc.,9 years,MORTGAGE,55000.0,...,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,"679 Luna Roads\nGreggshire, VA 11650"

In [7]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
loan_amnt,396030.0,14113.888089,8357.441341,500.00,8000.00,12000.00,20000.00,40000.00
int_rate,396030.0,13.639400,4.472157,5.32,10.49,13.33,16.49,30.99
installment,396030.0,431.849698,250.727790,16.08,250.33,375.43,567.30,1533.81
annual_inc,396030.0,74203.175798,61637.621158,0.00,45000.00,64000.00,90000.00,8706582.00
dti,396030.0,17.379514,18.019092,0.00,11.28,16.91,22.98,9999.00
open_acc,396030.0,11.311153,5.137649,0.00,8.00,10.00,14.00,90.00
pub_rec,396030.0,0.178191,0.530671,0.00,0.00,0.00,0.00,86.00
revol_bal,396030.0,15844.539853,20591.836109,0.00,6025.00,11181.00,19620.00,1743266.00
revol_util,395754.0,53.791749,24.452193,0.00,35.80,54.80,72.90,892.30
total_acc,396030.0,25.414744,11.886991,2.00,17.00,24.00,32.00,151.00
mort_acc,358235.0,1.813991,2.147930,0.00,0.00,1.00,3.00,34.00
pub_rec_bankruptcies,395495.0,0.121648,0.356174,0.00,0.00,0.00,0.00,8.00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  float64
 1   term                  396030 non-null  object
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   grade                 396030 non-null  object
 5   sub_grade             396030 non-null  object
 6   emp_title             373103 non-null  object
 7   emp_length            377729 non-null  object
 8   home_ownership        396030 non-null  object
 9   annual_inc            396030 non-null  float64
 10  verification_status   396030 non-null  object
 11  issue_d               396030 non-null  object
 12  loan_status           396030 non-null  object
 13  purpose               396030 non-null  object
 14  title                 394274 non-null  object
 15  dti                   396030 non-null  float64
 16  earliest_cr_line      396030 non-null  object
 17  open_acc              396030 non-null  float64
 18  pub_rec               396030 non-null  float64
 19  revol_bal             396030 non-null  float64
 20  revol_util            395754 non-null  float64
 21  total_acc             396030 non-null  float64
 22  initial_list_status   396030 non-null  object
 23  application_type      396030 non-null  object
 24  mort_acc              358235 non-null  float64
 25  pub_rec_bankruptcies  395495 non-null  float64
 26  address               396030 non-null  object
dtypes: float64(12), object(15)
memory usage: 81.6+ MB

In [9]:
df['term'].value_counts()

term
 36 months    302005
 60 months     94025
Name: count, dtype: int64

In [10]:
df['term']=df['term'].apply(lambda x: 36 if x.split(' ')[1]=='36' else 60)

In [11]:
feat_info('grade')

Description:  LC assigned loan grade
Type:  <class 'str'>

In [12]:
feat_info('sub_grade')

Description:  LC assigned loan subgrade
Type:  <class 'str'>

In [13]:
df['grade'].value_counts().sort_index()

grade
A     64187
B    116018
C    105987
D     63524
E     31488
F     11772
G      3054
Name: count, dtype: int64

In [14]:
df['sub_grade'].value_counts().sort_index()

sub_grade
A1     9729
A2     9567
A3    10576
A4    15789
A5    18526
B1    19182
B2    22495
B3    26655
B4    25601
B5    22085
C1    23662
C2    22580
C3    21221
C4    20280
C5    18244
D1    15993
D2    13951
D3    12223
D4    11657
D5     9700
E1     7917
E2     7431
E3     6207
E4     5361
E5     4572
F1     3536
F2     2766
F3     2286
F4     1787
F5     1397
G1     1058
G2      754
G3      552
G4      374
G5      316
Name: count, dtype: int64

In [15]:
df.drop('grade', axis=1, inplace=True)

In [16]:
sub_grades=pd.get_dummies(df['sub_grade'], dtype=int)

In [17]:
df=pd.concat([df, sub_grades], axis=1)

In [18]:
df.drop('sub_grade', axis=1, inplace=True)

In [19]:
df.drop('emp_title', axis=1, inplace=True)

In [20]:
df.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,...,F1,F2,F3,F4,F5,G1,G2,G3,G4,G5
0,10000.0,36,11.44,329.48,10+ years,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,...,0,0,0,0,0,0,0,0,0,0
1,8000.0,36,11.99,265.68,4 years,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,...,0,0,0,0,0,0,0,0,0,0
2,15600.0,36,10.49,506.97,< 1 year,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,...,0,0,0,0,0,0,0,0,0,0
3,7200.0,36,6.49,220.65,6 years,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,...,0,0,0,0,0,0,0,0,0,0
4,24375.0,60,17.27,609.33,9 years,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df['emp_length'].value_counts()

emp_length
10+ years    126041
2 years       35827
< 1 year      31725
3 years       31665
5 years       26495
1 year        25882
4 years       23952
6 years       20841
7 years       20819
8 years       19168
9 years       15314
Name: count, dtype: int64

In [22]:
import re

def get_number(x):
    try:
        y=re.findall(r'\d+', x)
        return int(y[0])
    except:
        return x

df['emp_length']=df['emp_length'].apply(get_number)

In [23]:
df['home_ownership'].value_counts()

home_ownership
MORTGAGE    198348
RENT        159790
OWN          37746
OTHER          112
NONE            31
ANY              3
Name: count, dtype: int64

In [24]:
def convert_house_ownership(x):
    if x=='OTHER' or x == 'ANY' or x=='NONE':
        return 'OTHER'
    else:
        return x

df['home_ownership']=df['home_ownership'].apply(convert_house_ownership)

In [25]:
df=pd.concat([df, pd.get_dummies(df['home_ownership'], dtype=int)], axis=1)

In [26]:
df.drop('home_ownership', axis=1, inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 62 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  float64
 1   term                  396030 non-null  int64
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   emp_length            377729 non-null  float64
 5   annual_inc            396030 non-null  float64
 6   verification_status   396030 non-null  object
 7   issue_d               396030 non-null  object
 8   loan_status           396030 non-null  object
 9   purpose               396030 non-null  object
 10  title                 394274 non-null  object
 11  dti                   396030 non-null  float64
 12  earliest_cr_line      396030 non-null  object
 13  open_acc              396030 non-null  float64
 14  pub_rec               396030 non-null  float64
 15  revol_bal             396030 non-null  float64
 16  revol_util            395754 non-null  float64
 17  total_acc             396030 non-null  float64
 18  initial_list_status   396030 non-null  object
 19  application_type      396030 non-null  object
 20  mort_acc              358235 non-null  float64
 21  pub_rec_bankruptcies  395495 non-null  float64
 22  address               396030 non-null  object
 23  A1                    396030 non-null  int64
 24  A2                    396030 non-null  int64
 25  A3                    396030 non-null  int64
 26  A4                    396030 non-null  int64
 27  A5                    396030 non-null  int64
 28  B1                    396030 non-null  int64
 29  B2                    396030 non-null  int64
 30  B3                    396030 non-null  int64
 31  B4                    396030 non-null  int64
 32  B5                    396030 non-null  int64
 33  C1                    396030 non-null  int64
 34  C2                    396030 non-null  int64
 35  C3                    396030 non-null  int64
 36  C4                    396030 non-null  int64
 37  C5                    396030 non-null  int64
 38  D1                    396030 non-null  int64
 39  D2                    396030 non-null  int64
 40  D3                    396030 non-null  int64
 41  D4                    396030 non-null  int64
 42  D5                    396030 non-null  int64
 43  E1                    396030 non-null  int64
 44  E2                    396030 non-null  int64
 45  E3                    396030 non-null  int64
 46  E4                    396030 non-null  int64
 47  E5                    396030 non-null  int64
 48  F1                    396030 non-null  int64
 49  F2                    396030 non-null  int64
 50  F3                    396030 non-null  int64
 51  F4                    396030 non-null  int64
 52  F5                    396030 non-null  int64
 53  G1                    396030 non-null  int64
 54  G2                    396030 non-null  int64
 55  G3                    396030 non-null  int64
 56  G4                    396030 non-null  int64
 57  G5                    396030 non-null  int64
 58  MORTGAGE              396030 non-null  int64
 59  OTHER                 396030 non-null  int64
 60  OWN                   396030 non-null  int64
 61  RENT                  396030 non-null  int64
dtypes: float64(13), int64(40), object(9)
memory usage: 187.3+ MB

In [28]:
df['verification_status'].value_counts()

verification_status
Verified           139563
Source Verified    131385
Not Verified       125082
Name: count, dtype: int64

In [29]:
df=pd.concat([df, pd.get_dummies(df['verification_status'], dtype=int)], axis=1)

In [30]:
df.drop('verification_status', axis=1, inplace=True)

In [31]:
feat_info('issue_d')

Description:  The month which the loan was funded
Type:  <class 'str'>

In [32]:
df.drop('issue_d', axis=1, inplace=True)

In [33]:
df['loan_status'].value_counts()

loan_status
Fully Paid     318357
Charged Off     77673
Name: count, dtype: int64

In [34]:
df=pd.concat([df, pd.get_dummies(df['loan_status'], drop_first=True ,dtype=int)], axis=1)

In [35]:
df.drop('loan_status', axis=1, inplace=True)

In [36]:
df['purpose'].value_counts()

purpose
debt_consolidation    234507
credit_card            83019
home_improvement       24030
other                  21185
major_purchase          8790
small_business          5701
car                     4697
medical                 4196
moving                  2854
vacation                2452
house                   2201
wedding                 1812
renewable_energy         329
educational              257
Name: count, dtype: int64

In [37]:
df=pd.concat([df, pd.get_dummies(df['purpose'], dtype=int)], axis=1)

In [38]:
df.drop('purpose', axis=1, inplace=True)

In [39]:
df.drop('title', axis=1, inplace=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 75 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  float64
 1   term                  396030 non-null  int64
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   emp_length            377729 non-null  float64
 5   annual_inc            396030 non-null  float64
 6   dti                   396030 non-null  float64
 7   earliest_cr_line      396030 non-null  object
 8   open_acc              396030 non-null  float64
 9   pub_rec               396030 non-null  float64
 10  revol_bal             396030 non-null  float64
 11  revol_util            395754 non-null  float64
 12  total_acc             396030 non-null  float64
 13  initial_list_status   396030 non-null  object
 14  application_type      396030 non-null  object
 15  mort_acc              358235 non-null  float64
 16  pub_rec_bankruptcies  395495 non-null  float64
 17  address               396030 non-null  object
 18  A1                    396030 non-null  int64
 19  A2                    396030 non-null  int64
 20  A3                    396030 non-null  int64
 21  A4                    396030 non-null  int64
 22  A5                    396030 non-null  int64
 23  B1                    396030 non-null  int64
 24  B2                    396030 non-null  int64
 25  B3                    396030 non-null  int64
 26  B4                    396030 non-null  int64
 27  B5                    396030 non-null  int64
 28  C1                    396030 non-null  int64
 29  C2                    396030 non-null  int64
 30  C3                    396030 non-null  int64
 31  C4                    396030 non-null  int64
 32  C5                    396030 non-null  int64
 33  D1                    396030 non-null  int64
 34  D2                    396030 non-null  int64
 35  D3                    396030 non-null  int64
 36  D4                    396030 non-null  int64
 37  D5                    396030 non-null  int64
 38  E1                    396030 non-null  int64
 39  E2                    396030 non-null  int64
 40  E3                    396030 non-null  int64
 41  E4                    396030 non-null  int64
 42  E5                    396030 non-null  int64
 43  F1                    396030 non-null  int64
 44  F2                    396030 non-null  int64
 45  F3                    396030 non-null  int64
 46  F4                    396030 non-null  int64
 47  F5                    396030 non-null  int64
 48  G1                    396030 non-null  int64
 49  G2                    396030 non-null  int64
 50  G3                    396030 non-null  int64
 51  G4                    396030 non-null  int64
 52  G5                    396030 non-null  int64
 53  MORTGAGE              396030 non-null  int64
 54  OTHER                 396030 non-null  int64
 55  OWN                   396030 non-null  int64
 56  RENT                  396030 non-null  int64
 57  Not Verified          396030 non-null  int64
 58  Source Verified       396030 non-null  int64
 59  Verified              396030 non-null  int64
 60  Fully Paid            396030 non-null  int64
 61  car                   396030 non-null  int64
 62  credit_card           396030 non-null  int64
 63  debt_consolidation    396030 non-null  int64
 64  educational           396030 non-null  int64
 65  home_improvement      396030 non-null  int64
 66  house                 396030 non-null  int64
 67  major_purchase        396030 non-null  int64
 68  medical               396030 non-null  int64
 69  moving                396030 non-null  int64
 70  other                 396030 non-null  int64
 71  renewable_energy      396030 non-null  int64
 72  small_business        396030 non-null  int64
 73  vacation              396030 non-null  int64
 74  wedding               396030 non-null  int64
dtypes: float64(13), int64(58), object(4)
memory usage: 226.6+ MB

In [41]:
df['initial_list_status'].value_counts()

initial_list_status
f    238066
w    157964
Name: count, dtype: int64

In [42]:
df=pd.concat([df, pd.get_dummies(df['initial_list_status'], drop_first=True, dtype=int)], axis=1)

In [43]:
df.drop('initial_list_status', axis=1, inplace=True)

In [44]:
df['application_type'].value_counts()

application_type
INDIVIDUAL    395319
JOINT            425
DIRECT_PAY       286
Name: count, dtype: int64

In [45]:
df=pd.concat([df, pd.get_dummies(df['application_type'], dtype=int)], axis=1)

In [46]:
df.drop('application_type', axis=1, inplace=True)

In [47]:
df.drop('address', axis=1, inplace=True)

In [48]:
import re

def get_numbers(x):
    return int(re.findall(r'\d+', x)[0])

df ['earliest_cr_line'] = df ['earliest_cr_line'].apply(get_numbers)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396030 entries, 0 to 396029
Data columns (total 76 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  float64
 1   term                  396030 non-null  int64
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   emp_length            377729 non-null  float64
 5   annual_inc            396030 non-null  float64
 6   dti                   396030 non-null  float64
 7   earliest_cr_line      396030 non-null  int64
 8   open_acc              396030 non-null  float64
 9   pub_rec               396030 non-null  float64
 10  revol_bal             396030 non-null  float64
 11  revol_util            395754 non-null  float64
 12  total_acc             396030 non-null  float64
 13  mort_acc              358235 non-null  float64
 14  pub_rec_bankruptcies  395495 non-null  float64
 15  A1                    396030 non-null  int64
 16  A2                    396030 non-null  int64
 17  A3                    396030 non-null  int64
 18  A4                    396030 non-null  int64
 19  A5                    396030 non-null  int64
 20  B1                    396030 non-null  int64
 21  B2                    396030 non-null  int64
 22  B3                    396030 non-null  int64
 23  B4                    396030 non-null  int64
 24  B5                    396030 non-null  int64
 25  C1                    396030 non-null  int64
 26  C2                    396030 non-null  int64
 27  C3                    396030 non-null  int64
 28  C4                    396030 non-null  int64
 29  C5                    396030 non-null  int64
 30  D1                    396030 non-null  int64
 31  D2                    396030 non-null  int64
 32  D3                    396030 non-null  int64
 33  D4                    396030 non-null  int64
 34  D5                    396030 non-null  int64
 35  E1                    396030 non-null  int64
 36  E2                    396030 non-null  int64
 37  E3                    396030 non-null  int64
 38  E4                    396030 non-null  int64
 39  E5                    396030 non-null  int64
 40  F1                    396030 non-null  int64
 41  F2                    396030 non-null  int64
 42  F3                    396030 non-null  int64
 43  F4                    396030 non-null  int64
 44  F5                    396030 non-null  int64
 45  G1                    396030 non-null  int64
 46  G2                    396030 non-null  int64
 47  G3                    396030 non-null  int64
 48  G4                    396030 non-null  int64
 49  G5                    396030 non-null  int64
 50  MORTGAGE              396030 non-null  int64
 51  OTHER                 396030 non-null  int64
 52  OWN                   396030 non-null  int64
 53  RENT                  396030 non-null  int64
 54  Not Verified          396030 non-null  int64
 55  Source Verified       396030 non-null  int64
 56  Verified              396030 non-null  int64
 57  Fully Paid            396030 non-null  int64
 58  car                   396030 non-null  int64
 59  credit_card           396030 non-null  int64
 60  debt_consolidation    396030 non-null  int64
 61  educational           396030 non-null  int64
 62  home_improvement      396030 non-null  int64
 63  house                 396030 non-null  int64
 64  major_purchase        396030 non-null  int64
 65  medical               396030 non-null  int64
 66  moving                396030 non-null  int64
 67  other                 396030 non-null  int64
 68  renewable_energy      396030 non-null  int64
 69  small_business        396030 non-null  int64
 70  vacation              396030 non-null  int64
 71  wedding               396030 non-null  int64
 72  w                     396030 non-null  int64
 73  DIRECT_PAY            396030 non-null  int64
 74  INDIVIDUAL            396030 non-null  int64
 75  JOINT                 396030 non-null  int64
dtypes: float64(13), int64(63)
memory usage: 229.6 MB

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

X = df.drop('Fully Paid', axis=1)
y = df['Fully Paid']

scaler = MinMaxScaler()
X = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101, stratify=y)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=101, stratify=y_train)

In [51]:
X_train.shape

(285141, 75)

In [52]:
from keras.layers import Input, Dense, Dropout, BatchNormalization
from keras.models import Sequential

model = Sequential()
model.add(Input((75,)))
model.add(Dense(156,  activation='relu'))
model.add(Dropout(0.1))

model.add(Dense(32, activation='relu'))
model.add(Dropout(0.1))

model.add(Dense(16, activation='relu'))
model.add(Dropout(0.1))

model.add(Dense(1,activation='sigmoid'))

In [53]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 156)               11856

 dropout (Dropout)           (None, 156)               0

 dense_1 (Dense)             (None, 32)                5024

 dropout_1 (Dropout)         (None, 32)                0

 dense_2 (Dense)             (None, 16)                528

 dropout_2 (Dropout)         (None, 16)                0

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 17425 (68.07 KB)
Trainable params: 17425 (68.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [56]:
from keras.callbacks import EarlyStopping

early_stopping = EarlyStopping(
    monitor="val_accuracy",
    min_delta=0.01,
    patience=10,
    verbose=1,
    mode="max",
    baseline=None,
    restore_best_weights=True
)

In [55]:
from keras.metrics import BinaryAccuracy

METRICS = [
      BinaryAccuracy(name='accuracy'),
]

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=METRICS)

In [58]:
history = model.fit(X_train, y_train, batch_size=4 ,epochs=100, validation_data=(X_val, y_val), callbacks=[early_stopping])

Epoch 1/100
27003/71286 [==========>...................] - ETA: 21s - loss: nan - accuracy: 0.1968

KeyboardInterrupt: